header.navbar.navbar-light.navbar-toggleable-md
  nav.container
    button(type='button' data-toggle='collapse' data-target='#navbarSupportedContent').navbar-toggler.navbar-toggler-right
        span.navbar-toggler-icon
    a.navbar-brand(href='/') Home
    div.collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/media') Images
        li.nav-item
          a.nav-link.btn.btn-secondary(href='/logout') Log Out