html
  include partials/head.pug
  body
    include partials/nav.pug
    .container
      h1 Privacy Policy

      h2 Information Collection and Use
      p We collect and use your information below to provide our Services and to measure and improve our Services from time to time.

      p Google Analytics: We will also install Google Analytics in the apps, devices, or mobile apps to collect your behaviors in using our Services. We will also recommend some other services that may be suitable or appeal to you based on our analysis.

      p Log Data: When you use Grab for Instagram, we may receive information ("Log Data") such as your IP address, device information (including device and application IDs) and search terms. Grab for Instagram uses Log Data to provide, understand, and improve our Services.

      h2 Changes to this Policy
      p We may revise this Privacy Policy from time to time.

    include partials/footer.pug